@use "../abstracts" as *;

.flex-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, $flex-group-gap);

  &.no-wrap {
    flex-wrap: nowrap;
  }

  &.flex-col {
    flex-direction: column;
  }

  &.mx-auto {
    justify-content: center;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }
}