@use "../abstracts/" as *;

.shift-up {
  @include mqMin(medium) {
    transform: translateY(0%);
    transition: transform 250ms;

    &:hover {
      transform: translateY(-2%);
    }
  }
}

.shift-up-left {
  @include mqMin(medium) {
    transform: translateY(0%) translateX(0%);
    transition: transform 250ms, opacity 250ms;

    &:hover {
      transform: translateY(-2%) translateX(-2%);
    }

    &.opacity {
      opacity: 1;
      transition: transform 250ms, opacity 250ms;
  
      &:hover {
        opacity: 0.7;
      }
    }
  }
}