@use "../abstracts/" as *;

.btn {
  display: block;
  border: 0;
  border-radius: 50px;
  line-height: 1;
  cursor: pointer;
  padding: 1.125em 2.25em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $ff-base;
  font-weight: $fw-700;
  transition: 250ms;

  &--primary {
    color: clr(neutral, 900);
    background-color: clr(accent, 400);

    &:is(:hover, :focus) {
      background-color: clr(neutral, 100);
      color: clr(neutral, 900);
    }
  }

  &--hamburger {
    z-index: 9999;
    overflow: hidden;
    border: 3px solid var(--hamburger-color, #fff);
    border-radius: .5rem;
    padding: 0;
    background: transparent;
   
    --hamburger-color: #{$clr-neutral-100};

    @include mqMin(medium) {
      display: none;
    }

    img {
      stroke: #ff00ff;
    }

    &.sticky {
      --hamburger-color: #{$clr-primary-900};
    }
  }

  &--hamburger[data-visible="true"] {
    --hamburger-color: #{$clr-primary-900};
  }

  &--scroll-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    border: 0;
    background: 0;
    padding: 0;
    font-size: fs(800);
    color: clr(accent, 400); 
    transition: visibility 250ms, opacity 250ms;

    &.visible {
      visibility: visible;
      opacity: 0.7;
    }
  }
}
