@use "../abstracts/" as *;

.btn {
  display: block;
  border: 0;
  border-radius: 50px;
  line-height: 1;
  cursor: pointer;
  padding: 1.125em 2.25em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $ff-base;
  font-weight: $fw-700;
  transition: 250ms;

  &--primary {
    color: clr(neutral, 900);
    background-color: clr(accent, 400);

    &:is(:hover, :focus) {
      background-color: clr(neutral, 100);
      color: clr(neutral, 900);
    }
  }

  &--hamburger {
    z-index: 9999;
    overflow: hidden;
    border: 3px solid var(--hamburger-color, #fff);
    border-radius: .5rem;
    padding: 0;
    background: transparent;
    transition: border 250ms;
    
   
    --hamburger-color: #{$clr-neutral-100};

    &[data-state="closed"] :is(.top, .bottom) {
      animation: to-open-icon 1s forwards;
      transition: stroke 250ms;
    }

    &[data-state="opened"] :is(.top, .bottom) {
      animation: to-close-icon 1s forwards;
    }

    & .hamburger-icon {
      transition: rotate 800ms 200ms;
    }

    &[data-state="opened"] .hamburger-icon {
      rotate: 1turn;
    }

    & .line.top {
      --rotation: -45deg;
      transform-origin: 65px 45px;
    }

    & .line.bottom {
      --rotation: 45deg;
      transform-origin: 60px 55px;
    }

    
    @keyframes to-open-icon {
      0% {
        stroke-dashoffset: 0;
        rotate: var(--rotation);
      }
      40% {
        stroke-dashoffset: 79.9;
        rotate: var(--rotation);
      }
      60% {
        stroke-dashoffset: 79.9;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }

    @keyframes to-close-icon {
      0% {
        stroke-dashoffset: 0;
      }
      40% {
        stroke-dashoffset: 79.9;
      }
      60% {
        stroke-dashoffset: 79.9;
        rotate: var(--rotation);
      }
      100% {
        stroke-dashoffset: 0;
        rotate: var(--rotation);
      }
    }

    @include mqMin(medium) {
      display: none;
    }

    &.sticky {
      --hamburger-color: #{$clr-primary-900};
    }
  }

  &--hamburger[data-state="opened"] {
    --hamburger-color: #{$clr-primary-900};
  }

  &--scroll-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    border: 0;
    background: 0;
    padding: 0;
    font-size: fs(800);
    color: clr(accent, 400); 
    transition: visibility 250ms, opacity 250ms;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
