@use "../abstracts/" as *;

.primary-footer {
  --grid-gap: #{size(80)};

  --flex-column-gap: #{size(48)};
  --flex-row-gap: #{size(48)};

  p {
    display: flex;
    justify-content: center;
    align-items: center;
  } 
}