@use "../abstracts/" as *;

.primary-footer {
  --grid-gap: #{size(80)};

  --flex-column-gap: #{size(48)};
  --flex-row-gap: #{size(48)};

  .contact {
    display: flex;
    flex-direction: column;
    row-gap: size(4);

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: size(12);
    }
  }
}