@use "../abstracts/" as *;

.hero {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gradients(linear, 900), url("../assets/hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: clr(primary, 400);
  padding-block: 10rem;
}

.hero {
  background-image: gradients(linear, 900),
    -webkit-image-set(url("../assets/hero.webp") 1x);
}
