@use "../abstracts/" as *;

.logo {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;

  .logo-img {
    width: 50px;
  }
  
  .logo-text {
    color: clr(primary, 400);

    &.sticky {
      color: clr(neutral, 900);
    }
  }
}