@use "../abstracts/" as *;

.primary-navigation {
  --flex-column-gap: #{size(48)};

  a {
    color: clr(primary, 400);
    transition: opacity 250ms;
    font-size: fs(500);

    &:is(:hover, :focus) {
      opacity: .5;
    }

    &.sticky {
      color: clr(primary, 900);
    }
  }
}

.primary-navigation-container {
  @include mqMax(medium) {
    position: absolute;
  }
}

.primary-navigation {
  flex-direction: column;
  transform: translateX(100%);
  position: fixed;
  z-index: 99;
  inset: 0 0 0 30%;
  padding: 10rem 2em;
  
  @include mqMin(medium) {
    background-color: transparent !important;
    position: unset;
    flex-direction: row;
    transform: translateX(0);
    padding: 0;
  }

  @include mqMax(74em) {
    transition: transform 350ms, background-color 350ms;
  }
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0);
  background-color: clr(primary, 400);

  a {
    color: clr(primary, 900);
  }
}

.secondary-navigation {
  a {
    font-size: fs(500);
    transition: opacity 250ms;
  
    &:is(:hover, :focus) {
      opacity: .5;
    }
  }
}