@use "../abstracts/" as *;

.references {
  --grid-gap: 5rem;

  picture,
  img {
    object-fit: cover;
    max-height: 35rem;
    width: 100%;
  }

  .container {
    position: relative;
  }

  h3 {
    line-height: 1.3;

    @include mqMax(small) {
      text-align: center;
    }
  }

  .reference {
    cursor: pointer;
    display: grid;
    gap: size(22);

    @include mqMin(small) {
      grid-template-rows: 90px 1fr;
    }

    @include mqMin(medium) {
      grid-template-rows: 70px 1fr;
    }

    & > img,
    & > p {
      grid-area: stack;
    }

    &:hover p {
      opacity: 1;
    }

    p {
      color: clr(accent, 500);
      opacity: 0;
      z-index: 999;
      transition: opacity 250ms;
      font-weight: $fw-700;
      font-family: $ff-accent;
    }
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 250ms, opacity 250ms;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      overflow: hidden;
      transform: translate(-50%, -50%);
      border-radius: 10px;
      object-fit: cover;
      width: fit-content;
      height: fit-content;
      max-height: 90%;
      max-width: 90%;
    }

    .arrow-right,
    .arrow-left {
      position: fixed;
      bottom: 10%;
      z-index: 200;
      cursor: pointer;
    }

    .arrow-right {
      right: 10%;
    }

    .arrow-left {
      left: 10%;
    }

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 100;
      font-size: fs(900);
      width: 70px;
      height: 70px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1000px;
      line-height: 1;
      color: clr(accent, 500);
      background-color: clr(neutral, 100);
      cursor: pointer;
    }
  }
}
