@use "../abstracts/" as *;

.references {
  --grid-gap: 3rem;

  img {
    object-fit: cover;
    height: 100%;
  }

  .container {
    position: relative;
  }

  .reference {
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
    cursor: pointer;

    & > img,
    & > p {
      grid-area: stack;
    }

    &:hover p {
      opacity: 1;
    }

    p {
      color: clr(accent, 500);
      opacity: 0;
      z-index: 999;
      transition: opacity 250ms;
      font-weight: $fw-700;
      font-family: $ff-accent;
    }
  }

  .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 250ms, opacity 250ms;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      overflow: hidden;
      transform: translate(-50%, -50%);
      border-radius: 10px;
      object-fit: cover;
      width: fit-content;
      height: fit-content;
      max-height: 90%;
      max-width: 90%;
    }

    .arrow-right,
    .arrow-left {
      position: fixed;
      bottom: 10%;
      z-index: 200;
      cursor: pointer;
    }

    .arrow-right {
      right: 10%;
    }

    .arrow-left {
      left: 10%;
    }

    i {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 100;
      font-size: fs(900);
      line-height: 1;
      color: clr(accent, 500);
      cursor: pointer;
    }
  }
}
