@use "../abstracts/" as *;

.section-header {
  margin-block-end: size(80);

  h2 {
    color: clr(accent, 500);
  }

  p {
    margin-top: .75em;
    max-width: 50ch;

    .text-center & {
      margin-inline: auto;
    }
  }
}